@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* GENERAL */

*{
    margin: 0;
}
body{
    background-color: rgb(189, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
#container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 530px;
    background-color: white;
    border-radius: 10px;
    #image{
        width: 350px;
        height: 200px;
        img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 350px;
            height: 200px;
        }
    }
    #text__container{
        padding: 2.7rem 2rem;
        h1{
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 0.5px;
            color: rgb(37, 37, 37);
            font-size: 1rem;
            margin-bottom: 20px;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 0.9rem;
            line-height: 1.5;
        }
    }
    .user{
        display: none;
        margin-top: 2.3rem;
        // display: flex;
        height: 55px;
        width: 300px;
        // background-color: rgb(232, 208, 255);
        #user__image{
            display: flex;
            align-items: center;
            img{
                height: 3.2rem;
                border-radius: 50%;
            }
        }
        #user__name{
            margin:auto 1rem;
            display: flex;
            flex-direction: column;
            #name{
                font-family: 'Open Sans', sans-serif;
            }
            #date{
                font-family: 'Roboto', sans-serif;
                color: rgb(166, 166, 166);
            }
            
        }
        #share__image{
            display: flex;
            align-items: center;
            margin-left: 3.2rem;
            img{
                border-radius: 50%;
                background-color: rgb(244, 244, 244);
                padding: 10px;
                height: 1rem;
                cursor: pointer;
            }
        }
    }
    .network{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 70px;
        width: 350px;
        background: rgb(14, 25, 38);
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        p{
            margin-left: 3rem;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        #network__link{
            display: flex;
            width: 150px;
            justify-content: space-evenly;
            #network__image{
                img{
                    cursor: pointer;
                    height: 2rem;
                }
            }
        }
        .share__link{
            margin-left: 2rem;
            padding: 10px;
            border-radius: 50%;
            color: white;
            background-color: rgb(235, 235, 235);
            cursor: pointer;
        }
    }
}

